In [1]:
import sqlite3

In [12]:
db = sqlite3.connect('data/mydb')

In [13]:
cursor = db.cursor()

In [14]:
cursor.execute('''
    CREATE TABLE vocabulary(word TEXT,
                       probability REAL)
''')

OperationalError: table vocabulary already exists

In [28]:
cursor.execute('''INSERT INTO vocabulary(word, probability)
                  VALUES('the', .99)''')
db.commit()

In [9]:
"""users = [(name1,phone1, email1, password1),
         (name2,phone2, email2, password2),
         (name3,phone3, email3, password3)]
cursor.executemany(''' INSERT INTO users(name, phone, email, password) VALUES(?,?,?,?)''', users)
db.commit()"""

In [39]:
cursor.execute("""SELECT word, probability FROM vocabulary""")

In [38]:
user1 = cursor.fetchone()
print(user1[0])

TypeError: 'NoneType' object is not subscriptable

In [40]:
all_rows = cursor.fetchall()
print(all_rows)

[('the', 0.99), ('the', 0.99), ('the', 0.99)]

In [41]:
for row in all_rows:
    # row[0] returns the first column in the query (name), row[1] returns email column.
    print('{0} : {1}'.format(row[0], row[1]))

the : 0.99
the : 0.99
the : 0.99